option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: workouttracker.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: workouttracker.settings
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "workouttracker/static/"